
/* Thanh Breadcrumb (Trang chủ | Sản phẩm) */
.breadcrumb-bar {
    background-color: #f5f5f5; 
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
}

/*  Phân Trang  */
.custom-pagination .page-item {
    margin: 0 5px;
}

.custom-pagination .page-link {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    border-radius: 0 !important; /* Vuông góc giống ảnh */
}

/* Trạng thái Active (Đang chọn) */
.custom-pagination .page-item.active .page-link {
    background-color: var(--primary-color); 
    border-color: var(--primary-color);
    color: #fff;
}

.custom-pagination .page-link:hover {
    background-color: var(--light-gray);
    color: var(--primary-color);
}


.dropdown-menu {
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown-toggle::after {
    vertical-align: middle;
}


.product-card {
    /* transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; */
    cursor: pointer;
}
.product-card:hover {
    
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product-card img {
    transition: transform var(--transition-speed);
}
.product-card:hover img {
    transform: scale(1.05);
}

.product-card .price {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.1rem;
}